@keyframes entering {
  from {
    opacity: 0;
    transform: scale(0.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes exiting {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

.popup-container {
  position: fixed;
  top: 95px;
  margin: 2px auto;
  left: calc(100% - 50% - 15%);
  width: 30%;
  border-radius: 8px;
  height: 80%;
  background-color: rgb(216, 216, 216);
  z-index: 2;
  display: flex;
  flex-direction: column;
  animation-name: entering;
  animation-duration: 0.7s;

  #popup-header {
    display: flex;
    align-items: center;
    padding: 25px 0;
    width: 100%;
    // border-bottom: 2px solid rgb(39, 39, 39);
    // background-color: black;

    #popup-header-name {
      font-weight: bolder;
      color: #333;
      font-size: 13px;
      text-transform: uppercase;
      margin-left: 8%;
    }
  }
}

#popup-exiting {
  animation-name: exiting;
  animation-duration: 0.7s;
}


#popup-routers-container {
  display: flex;
  margin: 20px 3%;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: grey;

  #router {
    font-weight: 600;
    margin-left: 1%;
    transition: 0.3s;
    cursor: pointer;
    color: #333;

    &:hover {
      color: #0957ff;
    }
  }
}